<!DOCTYPE html>
<html lang="en">
<head>
	<title>SIGN UP PAGE</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/ForLoginPage/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/ForLoginPage/css/ScheduleDelivery.css">
<!--===============================================================================================-->
    <style>
        .custom-dropdown {
            background-color: #f2f2f2; /* Change this to the desired background color */
            color: #333; /* Change this to the desired text color */
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;
        }

        .custom-dropdown:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        /* Optional: Add some animation */
        .custom-dropdown:hover {
            background-color: #e0e0e0; /* Change this to the desired hover background color */
            transition: background-color 0.3s ease-in-out;
        }
    </style>
</head>
<body>
	
	<div class="limiter">
        <div class="container-login100" style="background-image: url('../static/ForLoginPage/images/ReconstructingTruck.gif');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method = 'POST' action = '/ScheduleDelivery/{{user_id}}'>
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Enter Delivery Details
                    </span>
                    
                    <div class="wrap-input100 validate-input" data-validate="Enter PickUp Location">
                        <input class="input100" type="text" name="pickup_location" placeholder="PICK UP LOCATION">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Destination">
                        <input class="input100" type="password" name="destination" placeholder="DESTINATION">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    
                    
                    <div class="wrap-input100 validate-input" data-validate="Enter proposed amount">
                        <input class="input100" type="number" name="proposed_amount" placeholder="PKR PROPOSED AMOUNT">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter proposed amount">
                        <input class="input100" type="number" name="weight" placeholder="MATERIAL WEIGHT IN TONS">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="SELECT VEHICLE TYPE">
                        <select class="input100 custom-dropdown" name="vehicle_type">
                            <option value="MINI TRUCK">MINI TRUCK </option>
                            <option value="MINI VAN">MINI VAN</option>
                            <option value="Customer">Customer</option>
                            <option value="TruckDriver">Truck Driver</option>
                        </select>
                    </div>

                    <a class="container-login100-form-btn">
                        <button class="login100-form-btn" href='/IndustrialistInsideWebsite/{{user_id}}'>
                            SUBMIT
                        </button>
                    </a>

                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    
	
<!--===============================================================================================-->
	<script src="../static/ForLoginPage/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/ForLoginPage/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/ForLoginPage/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/ForLoginPage/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/ForLoginPage/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/ForLoginPage/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/ForLoginPage/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/ForLoginPage/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/ForLoginPage/js/main.js"></script>

</body>
</html>