<!DOCTYPE HTML>
<html>
	<head>
		<title>Industrialist Features</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/ForHomePage/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/ForHomePage/assets/css/noscript.css" /></noscript>
		<style>
			.content_wrapper {
				display: flex;
				flex-direction: row; /* Display content in a row */
				align-items: center; /* Center align content vertically */
			}

			.image_container {
				flex: 1; /* Take up remaining space */
				margin-left: 2em; /* Add some margin for spacing */
			}

			.img {
				display: block; /* Make the image a block element */
				max-width: 100%; /* Ensure the image doesn't exceed its container */
				height: auto; /* Maintain aspect ratio */
			}

			.content_wrapper1{
				display : flex;
				flex-direction: row-reverse;
				align-items: center;
				text-align: right;
			}

			.image_container1 {
				flex: 1; /* Take up remaining space */
				margin-right: 2em; /* Add some margin for spacing */
			}
			@keyframes fadeInUp {
				from {
					transform: translateY(50px);
					opacity: 0;
				}
				to {
					transform: translateY(0);
					opacity: 1;
				}
				}
			.fade-in-up {
				animation: 4.00s both fadeInUp;
			}
			
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>INDUTRIALIST</h1>
						<p>Everything you can do</p>
					</header>

				<!-- Main -->
					<div id="main">

							<section id="first" class="main">
								<h2>
									Track Your Trucks
								</h2>
									<div class="content_wrapper">
										<p>
											Track your delivery truck anytime, anywhere with our real-time tracking system.
											Stay informed about your package's progress from departure to arrival, thanks to our user-friendly interface. 
											Whether you're using a computer or a mobile device, monitoring your shipment is easy and convenient. 
											Receive timely updates through notifications, ensuring you're always in the loop. 
											Take control of your delivery experience - track your package now for peace of mind and real-time visibility.
										</p>
											<div class="image_container">
												<span class="img">
													<img src="../static/ForHomePage/images/TrackYourTruck.jpeg" alt="" />
												</span>
											</div>
									</div>
							</section>


							<section id="second" class="main">
								<h2 align="right">
									Schedule a Delivery
								</h2>
									<div class="content_wrapper1">
										
										<p>
											You are the boss. You get to schedule the delivery you want at any time of your choosing.
											Your delivery request will be notified to all the transporters and you will soon receive 
											a bid for moving your goods.
										</p>
											<div class="image_container1">
												<span class="img">
													<img src="../static/ForHomePage/images/DeliverySchedule.jpeg" alt="" />
												</span>
											</div>
									</div>
							</section>

							<section id="third" class="main">
								<h2>
									Record Viewing
								</h2>
									<div class="content_wrapper">
										<p>
											You can view your own personal history with our platform anytime of the day anywhere.
											All of your records are secure with us in our databases.
											Feel free to add more to them🙂.
										</p>
											<div class="image_container">
												<span class="img">
													<img src="../static/ForHomePage/images/RecordMaintenance.jpeg" alt="" />
												</span>
											</div>
									</div>
							</section>
							
							<section id="fourth" class="main">
								<h2 align="right">
									Communicate with your Transporter
								</h2>
									<div class="content_wrapper1">
										
										<p>
											You can communicate with your transporter using our in built messaging system.
											At any point after you accept any person's bid, you can then explain to them 
											the exact pick up location as well as the destination. Moreover, anytime during 
											the delivery is also easily doable.
										</p>
											<div class="image_container1">
												<span class="img">
													<img src="../static/ForHomePage/images/Communication.png" alt="" />
												</span>
											</div>
									</div>
							</section>

							<section id="seventh" class="main">
								<h2 align="right">
									Track Business Growth
								</h2>
									<div class="content_wrapper1">
										
										<p>
											Transporters can leverage business analytics to gain insights into their operations, track key performance indicators (KPIs), and identify growth opportunities.
											By analyzing data such as delivery times, route efficiency, and customer satisfaction, transporters can make data-driven decisions to optimize their processes
											, improve customer service, and ultimately drive business growth.

										</p>
											<div class="image_container1">
												<span class="img">
													<img src="../static/ForHomePage/images/images.jpeg" alt="" />
												</span>
											</div>
									</div>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						
						<section>
							<h2>CONTACT INFORMATION</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>FAST NUCES H-11/4</dd>
								<dt>Phone</dt>
								<dd>03365734098</dd>
								<dt>Email</dt>
								<dd><a href="#">i202367@nu.edu.pk</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script type = "text/javascript" src="../static/ForHomePage/assets/js/jquery.min.js"></script>
			<script src="../static/ForHomePage/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/ForHomePage/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/ForHomePage/assets/js/browser.min.js"></script>
			<script src="../static/ForHomePage/assets/js/breakpoints.min.js"></script>
			<script src="../static/ForHomePage/assets/js/util.js"></script>
			<script src="../static/ForHomePage/assets/js/main.js"></script>
			<script type = "text/javascript" src="../static/ForHomePage/assets/js/HomePage1.js" charset="utf-8" defer></script>

			
	</body>
</html>