<!DOCTYPE HTML>
<html>
	<head>
		<title>HOME PAGE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/ForHomePage/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/ForHomePage/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="../static/ForHomePage/images/logo.svg" alt="" /></span>
						<h1>LogiTech</h1>
						<p>Your journey, our commitment!<br />
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<li><a href="#first">What We Offer</a></li>
							<li><a href="#cta">Get Started</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>BRIEFER</h2>
										</header>
										<p>
											Welcome to LogiTech, where innovation meets efficiency in the world of transportation solutions. 
											At LogiTech, we redefine the dynamics of goods delivery, providing a seamless and reliable experience 
											for both businesses and individuals. Our commitment to excellence is embodied in our dedicated team of drivers,
											transporters, and cutting-edge technology that ensures your cargo reaches its destination with precision and speed.
											Join us in transforming the way goods move, and let LogiTech be your trusted partner in the journey of
											seamless logistics and unparalleled customer satisfaction.</p>
										<!-- <ul class="actions">
											<li><a href="HomePage1" class="button">Learn More</a></li>
										</ul> -->
									</div>
									<span class="image"><img src="../static/ForHomePage/images/TruckImage1.webp" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Makes Sense to Visit</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon-image"><img src = "../static/ForHomePage/images/Transporter.png"/></span>
										<!-- <span class="icon solid major style1 fa-code"></span> -->
										<h3>CARGO VOYAGERS</h3>
										<p>Join the Cargo Voyager network and transform your transportation business.
											As a transporter, partnering with us means unlocking a world of opportunities.
											Benefit from a vast customer base, cutting-edge technology for efficient operations, and a reputation for reliability.
											Elevate your services, grow your reach, and be part of a community that values excellence in cargo transportation.
											Sign up with Cargo Voyager - where every journey is a success story.</p>
											<ul class="actions">
												<li><a href="Transporter" class="button">Learn More</a></li>
											</ul>
									</li>

									<li>
										<span class = "icon-image"><img src = "../static/ForHomePage/images/Customer.jpg"></span>
										<!-- <span class="icon major style3 fa-copy"></span> -->
										<h3>LOGI MOVERS</h3>
										<p>Planning a move or need goods transported? Choose LogiMover for a hassle-free experience. 
										Our platform connects you with trusted transporters, ensuring your belongings reach their destination safely 
										and on time. Sign up with LogiMover and gain access to a seamless process, transparent pricing, and
										 a network of reliable service providers. Your logistics journey begins here - where simplicity meets efficiency.
										 Oh, and by the way, your goods are safe😁.
										</p>
										<ul class="actions">
											<li><a href="Mover" class="button">Learn More</a></li>
										</ul>
									</li>
									<li>
										<span class = "icon-image"><img src = "../static/ForHomePage/images/TruckDriver.jpg"></span>
									
										<!-- <span class="icon major style5 fa-gem"></span> -->
										<h3>ROAD MAESTRO</h3>
										<p>Calling all Road Maestros! Your expertise deserves a platform that values your skills. 
											Join our network of skilled truck drivers and experience a new level of opportunities.
											We offer competitive compensation, flexible schedules, and a user-friendly interface
											that makes managing your assignments a breeze. 
											Our commitment to transparency and real-time updates ensures you're always in the know about your assignments. 
											 Your next adventure starts here! Can't wait to welcome you.
										</p>
											<ul class="actions">
												<li><a href="Driver" class="button">Learn More</a></li>
											</ul>
									</li>
								</ul>
							</section>

						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>Wanna Get Started</h2>
									<p>Sign up now to have a real experience of how things work. And a surprise for you
									</p>
									<p>ITS COMPLETELY FREE 🥳</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="SignUp" class="button primary" method = "GET">Sign Up</a></li>
										<li><a href="LoginPage" class="button">Log In</a></li>
									</ul>
								</footer>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						
						<section>
							<h2>CONTACT INFORMATION</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>FAST NUCES H-11/4</dd>
								<dt>Phone</dt>
								<dd>03365734098</dd>
								<dt>Email</dt>
								<dd><a href="#">i202367@nu.edu.pk</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../static/ForHomePage/assets/js/jquery.min.js"></script>
			<script src="../static/ForHomePage/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/ForHomePage/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/ForHomePage/assets/js/browser.min.js"></script>
			<script src="../static/ForHomePage/assets/js/breakpoints.min.js"></script>
			<script src="../static/ForHomePage/assets/js/util.js"></script>
			<script src="../static/ForHomePage/assets/js/main.js"></script>

	</body>
</html>